* {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-color:#707070;
    width: 1500px;
    height: 399px;
}

header div p {
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

header div h1 {
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

header div small {
    text-align: left;
    font: normal normal normal 20px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}